:root {
    --white-light: #ffffff;
    --white-semi: #6c6e70;
}


/* navbar  */
.navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 18px;
    padding-block: 1.2rem;
    align-items: center;

    border-bottom: .1px solid rgba(180, 175, 175, 0.411);
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 10000;
}

.navigation #logo {
    color: var(--white-light);
    font-size: 1.8rem;
}

.navigation #logo .carre {
    width: 20px;
    background-color: rgb(250, 250, 250);
    display: inline-block;
}

.navigation nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navigation nav ul li {
    display: block;
}

.navigation nav ul li a {
    display: block;
    color: var(--white-semi);
    padding-inline: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation nav ul li:first-child a,
.navigation nav ul li:hover a {
    color: var(--white-light);
}